/*.playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}*/
:root {
  --primary-background: #f9f7fe;
  --btn-primary-background: #6c63ff;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 107px 0 35px;
}
.hero {
  text-align: center;
  background-color: var(--primary-background);
}
.hero p {
  padding: 0;
  padding-top: 276px;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}
.hero h1 {
  margin: 24px 0;
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 49px;
}
.hero .btn-branding {
  margin-bottom: 271px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  padding: 18px 30px;
  background-color: var(--btn-primary-background);
}
.project-container p {
  padding: 0;
  font-size: 16px;
}
.project-container h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
}
.project-container .project-btn {
  padding: 18px 25px;
  border: 1px solid var(--btn-primary-background);
  border-radius: 4px;
  cursor: pointer;
}
.project-container a {
  color: var(--btn-primary-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .hero p {
    padding-top: 50px;
    font-size: 25px;
    line-height: 25px;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 64px;
  }
  .hero h2 {
    font-size: 21px;
    line-height: 21px;
  }
  .hero .btn-branding {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
  }
  p {
    padding: 30px 5px 0;
    font-size: 14px;
  }
  .project-container h2 {
    font-size: 32px;
    line-height: 35px;
  }
  .project-container a {
    font-size: 12px;
    line-height: 20px;
  }
  .project-container .project-btn {
    padding: 10px 16px;
  }
}
